<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/components/head"></head>

<body>

<header th:replace="admin/components/header :: header" xmlns:th="http://www.thymeleaf.org"></header>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 pl-0">
            <div th:replace="admin/components/aside :: nav" xmlns:th="http://www.thymeleaf.org"></div>
        </div>
        <div class="col-12 col-md-10">
            <div class="main">

                <h3>Edit release</h3>

                <form th:action="@{/admin/releases/update/}" th:object="${release}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" th:field="*{id}" th:value="${release.id}"/>
                        <input type="hidden" th:field="*{img}" th:value="${release.img}"/>
                    </div>
 
                    <div class="form-group">
                        <label class="sr-only" for="data">Image</label>
                        <img class="img-width mb-3" th:src="@{'/images/'+${release.img}}" alt="" th:id="image"/>
                        <input type="file" class="form-control-file" id="data" accept="image/png, image/jpeg" th:name="data" placeholder="Image" maxlength="100"/>
                    </div>

                    <div class="form-group">
                        <label for="artist">Artist</label>
                        <select class="form-control select-multiple" th:field="*{artists}" size="5" name="artist[]" multiple="multiple">
                            <option th:each="artist : ${artists}" th:value="${artist.id}" th:text="${artist.name}"/>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control is-valid" th:errorclass="is-invalid" id="title" th:field="*{title}" placeholder="Title" maxlength="100" th:value="${release.title}"/>
                        <p class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                    </div>

                    <div class="form-group">
                        <label for="code">Code</label>
                        <input type="text" class="form-control is-valid" th:errorclass="is-invalid" id="code" th:field="*{code}" placeholder="Code" maxlength="100" th:value="${release.code}"/>
                        <p class="invalid-feedback" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></p>
                    </div>

                    <div class="form-group">
                        <label for="label">Label</label>
                        <select class="form-control select-single" th:field="*{label}">
                            <option value="">Choose label</option>
                            <option th:each="label : ${labels}" th:value="${label.id}" th:text="${label.title}"/>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="releaseDate">Release Date</label>
                        <input type="text" class="form-control is-valid" th:errorclass="is-invalid" id="releaseDate" th:field="*{releaseDate}" placeholder="YYYY-MM-DD" maxlength="100" th:value="${release.releaseDate}"/>
                        <p class="invalid-feedback" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}"></p>
                    </div>

                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <select class="form-control select-multiple" th:field="*{genres}" size="5" name="genre[]" multiple="multiple">
                            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.title}"/>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="format">Format</label>
                        <select class="form-control select-single" th:field="*{format}">
                            <option th:each="format : ${formatTypes}" th:value="${format}" th:text="${format.type}"/>
                        </select>
                    </div>

                    <div id="input_wrapper">
                        <div id="form-row_first" class="form-row" th:each="track, item : ${release.tracklist}">
                            <div class="col">
                                <label for="position">Position</label><br>
                                <input id="position" type="text" class="form-control" th:field="${release.tracklist[__${item.index}__].position}">
                            </div>
                            <div class="col">
                                <label for="title">Title</label>
                                <input id="title" type="text" class="form-control" th:field="${release.tracklist[__${item.index}__].title}">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mb-4">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>

<th:block th:replace="admin/components/assets:: assets" xmlns:th="http://www.thymeleaf.org"></th:block>
</body>
</html>