<div th:fragment="tracks" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:each="track, item : ${release.tracklist}" class="form-row">

        <input type="hidden" th:field="${release.tracklist[__${item.index}__].id}" th:value="${release.id}"/>

        <div class="col-1">
            <label for="position">Position</label><br>
            <input id="position" type="text" class="form-control" th:field="${release.tracklist[__${item.index}__].position}" th:name="position">
        </div>
        <div class="col">
            <label for="title">Title</label>
            <input id="title" type="text" class="form-control" th:field="${release.tracklist[__${item.index}__].title}" th:name="title">
        </div>

        <div class="col">
            <button type="button" name="removeIndex" method="post" class="btn btn-sm btn-danger"
                    data-dynamic-rows-url="/admin/releases/removeTrack" th:action="@{/admin/releases/removeTrack}"
                    th:value="${item.index}">
                <i class="fas fa-minus"></i>
            </button>
        </div>

    </div>
</div>