<div th:fragment="tracks" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:each="track, item : ${release.tracklist}" class="form-row mt-2 align-items-center">

        <input type="hidden" th:field="${release.tracklist[__${item.index}__].id}"/>

        <div class="col-1">
            <input type="text" class="form-control" th:errorclass="is-invalid" th:field="${release.tracklist[__${item.index}__].position}" placeholder="Position">
            <p class="invalid-feedback" th:if="${#fields.hasErrors('${release.tracklist[__${item.index}__].position}')}" th:errors="*{tracklist[__${item.index}__].position}"></p>
        </div>
        <div class="col">
            <input type="text" class="form-control" th:errorclass="is-invalid" th:field="${release.tracklist[__${item.index}__].title}" placeholder="Title">
            <p class="invalid-feedback" th:if="${#fields.hasErrors('${release.tracklist[__${item.index}__].title}')}" th:errors="*{tracklist[__${item.index}__].title}"></p>
        </div>

        <div class="col">
            <button type="button" name="removeIndex" method="post" class="btn btn-sm btn-link"
                    data-dynamic-rows-url="/admin/releases/removeTrack" th:action="@{/admin/releases/removeTrack}"
                    th:value="${item.index}">
                <img class="release-icon" th:src="@{/images/trash.svg}" alt="logo"/>
            </button>
        </div>

    </div>
</div>