<div th:fragment="video" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:each="video, item : ${release.playlist}" class="form-row mt-2 align-items-center">

        <input type="hidden" th:field="${release.playlist[__${item.index}__].id}"/>

        <div class="col-4">
            <input type="text" class="form-control" th:field="${release.playlist[__${item.index}__].videoId}" placeholder="Video id">
        </div>

        <div class="col">
            <button type="button" name="removeIndex" method="post" class="btn btn-sm btn-danger"
                    data-dynamic-rows-url="/admin/releases/removeVideo" th:action="@{/admin/releases/removeVideo}"
                    th:value="${item.index}">
                <i class="fas fa-minus"></i>
            </button>
        </div>

    </div>
</div>