<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/components/head"></head>
<body>
<header th:replace="admin/components/header :: header"></header>
<div class="container-fluid">
    <div class="main">
        <div class="main-content" th:if="${label}">
            <h3>Edit label</h3>
            <form th:action="@{'/admin/labels/edit/{id}'(id=${label.id})}" th:object="${label}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="hidden" th:field="*{img}" th:value="${label.img}"/>
                </div>
                <div class="form-group item-img">
                    <label class="sr-only" for="data">Image</label>
                    <img class="mb-3" th:src="@{'/images/labels/'+${label.img}}" alt="" th:id="image"/>
                    <input type="file" class="form-control-file" th:errorclass="is-invalid" id="data" accept="image/png, image/jpeg" th:name="data" placeholder="Image"/>
                    <p class="invalid-feedback" th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></p>
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control is-valid" th:errorclass="is-invalid" type="text" id="title" th:field="*{title}" placeholder="Title" maxlength="100" th:value="${label.title}" />
                    <p class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input class="form-control" type="text" id="country" th:field="*{country}" placeholder="Country" th:value="${label.country}" />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" type="text" th:errorclass="is-invalid" id="description" th:field="*{description}" placeholder="Description" th:value="${label.description}" maxlength="2000"></textarea>
                    <p class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                </div>
                <button type="submit" class="btn btn-primary mb-4">Submit</button>
            </form>
        </div>
        <div class="main-content mx-3" th:unless="${label}">
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
<th:block th:replace="admin/components/assets:: assets"></th:block>
</body>
</html>