<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/components/head"></head>
<body>
<header th:replace="admin/components/header :: header"></header>
<div class="container-fluid">
    <div class="main">
        <div th:each="label : ${labels}">
            <div class="main-content">
                <div class="row">
                    <div class="d-flex col-12 col-lg-11">
                        <div class="item-img pr-3">
                            <img class="img-fluid" th:src="@{'/images/'+${label.img}}" alt=""/>
                        </div>
                        <div class="item-info">
                            <p>
                                <span class="title">Label: </span>
                                <span th:text="${label.title}"></span>
                            </p>
                            <p>
                                <span class="title">Country: </span>
                                <span th:text="${label.country}"></span>
                            </p>
                            <p>
                                <span class="title">Description: </span>
                                <span th:text="${label.description}"></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-1 d-flex">
                        <a class="mr-2" th:href="@{'edit/{id}'(id=${label.id})}"><img class="release-icon" th:src="@{/images/service/edit.svg}" alt="logo"/></a>
                        <form th:action="@{/admin/labels/delete}" method="post">
                            <input type="hidden" name="id" th:value="${label.id}"/>
                            <button type="submit" class="btn btn-sm btn-link delete">
                                <img class="release-icon" th:src="@{/images/service/trash.svg}" alt="logo"/>
                            </button>
                        </form>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <nav aria-label="Pagination">
            <ul class="pagination-container">
                <li th:if="${labels.totalPages > 1}" class="pagination-item" th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/admin/labels/(page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber == labels.number + 1} ? active"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<th:block th:replace="admin/components/assets:: assets"></th:block>
</body>
</html>