<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="components/head"></head>

<body>

<header th:replace="components/header :: header" xmlns:th="http://www.thymeleaf.org"></header>

<div class="container-fluid main-content main-content-login">
    <div class="row" sec:authorize="isAuthenticated()">
        <div class="col-12 col-md-2 pl-0">
            <nav class="navbar aside-nav" aria-label="Aside menu" xmlns:th="http://www.w3.org/1999/xhtml">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" th:href="@{/profile}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Collection</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Settings</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
                </ul>
            </nav>

        </div>
        <div class="col-12 col-md-10">
            <div th:replace="components/search :: search" xmlns:th="http://www.thymeleaf.org"></div>
            <div class="main-content mx-3">
                <div class="row release-row">
<!--                    <div class="col-2 release-img">-->
<!--                        <img class="img-fluid" th:src="@{'/images/'+${release.img}}" width="200" alt=""/>-->
<!--                    </div>-->
                    <div class="col-9 release-info">
                        <p>
                            <span class="title">username: </span>
                            <span th:text="${account.username}"></span>
                        </p>

                        <p>
                            <span class="title">email: </span>
                            <span th:text="${account.email}"></span>
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="components/assets:: assets" xmlns:th="http://www.thymeleaf.org"></th:block>
</body>
</html>