<div th:fragment="releases" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="d-sm-flex justify-content-between mb-3 releases-list" th:each="release : ${releases}">
        <div class="releases-list-item">
            <a th:href="@{'/releases/{id}'(id=${release.id})}">
                <img class="item-img-sm" th:src="@{'/images/releases/'+${release.img}}" alt=""/>
            </a>
        </div>
        <div class="releases-list-item">
            <a th:href="@{'/releases/{id}'(id=${release.id})}">
                <span th:text="${release.title}"></span>
            </a>
        </div>
        <div class="releases-list-item">
            <a th:href="@{'/labels/{id}'(id=${release.label.id})}">
                <span th:text="${release.label.title}"></span>
            </a>
        </div>
        <div class="releases-list-item" th:text="${release.code}"></div>
        <div class="releases-list-item" th:text="${release.releaseDate}"></div>
    </div>
    <nav aria-label="Pagination">
        <ul class="pagination-container">
            <li th:if="${releases.totalPages > 1}" class="pagination-item" th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{'/account/{id}/{var}?page={page}'(id=${account.id}, var=${q}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber == releases.number + 1} ? active"></a>
            </li>
        </ul>
    </nav>
</div>