<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="components/head"></head>
<body>
<header th:replace="components/header :: header"></header>
<div class="container-fluid">
    <div class="main">
        <div th:if="${account}">
            <div class="main-content">
                <div class="row">
                    <div class="d-flex col-12 col-lg-8">
                        <div class="item-img">
                            <img class="img-fluid" th:src="@{'/images/accounts/'+${account.img}}" alt=""/>
                        </div>
                        <div class="item-info">
                            <p>
                                <span class="title">username: </span>
                                <a th:href="@{/account/{id}(id=${account.id})}" th:text="${account.username}"></a>
                            </p>
                            <p>
                                <span class="title">email: </span>
                                <span th:text="${account.email}"></span>
                            </p>
                            <br>
                            <p th:if="${!account.collection.isEmpty()}">
                                <span class="title">In Collection: </span>
                                <a th:href="@{'/account/{id}/collection'(id=${account.id})}" th:text="${account.collection.size()}"></a>
                            </p>
                            <p th:if="${!account.wantlist.isEmpty()}">
                                <span class="title">In Wantlist: </span>
                                <a th:href="@{'/account/{id}/wantlist'(id=${account.id})}" th:text="${account.wantlist.size()}"></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4" th:if="${isAuth}">
                        <div th:replace="client/user/dashboard :: dashboard"></div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="main-content mx-3" th:unless="${account}">
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
<th:block th:replace="components/assets:: assets"></th:block>
</body>
</html>