<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>RecordStore</title>
</head>

<body>

<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Records Store</a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">

                <form th:action="@{add}" method="post">
                    <div class="form-group">
                        <label class="d-none" for="artist">Artist</label>
                        <input type="text" class="form-control" id="artist" th:name="artist" placeholder="Artist" maxlength="100"/>
                    </div>
                    <div class="form-group">
                        <label class="d-none" for="artist">Title</label>
                        <input type="text" class="form-control" id="title" th:name="title" placeholder="Title" maxlength="100"/>
                    </div>
                    <div class="form-group">
                        <label class="d-none" for="label">Label</label>
                        <input type="text" class="form-control" id="label" th:name="label" placeholder="Label" maxlength="100"/>
                    </div>
                    <div class="form-group">
                        <label class="d-none" for="releaseDate">Release Date</label>
                        <input type="text" class="form-control" id="releaseDate" th:name="releaseDate" placeholder="YYYY-MM-DD" maxlength="100"/>
                    </div>
                    <div class="form-group">
                        <label class="d-none" for="genre">Genre</label>
                        <input type="text" class="form-control" id="genre" th:name="genre" placeholder="Genre" maxlength="100"/>
                    </div>
                    <div class="form-group">
                        <label class="d-none" for="code">Code</label>
                        <input type="text" class="form-control" id="code" th:name="code" placeholder="Code" maxlength="100"/>
                    </div>
                    <div class="form-group">
                        <label class="d-none" for="format">Format</label>
                        <input type="text" class="form-control" id="format" th:name="format" placeholder="Format" maxlength="100"/>
                    </div>
                    <div class="form-group">
                        <label class="d-none" for="price">Price</label>
                        <input type="text" class="form-control" id="price" th:name="price" placeholder="Price" maxlength="100"/>
                    </div>
                    <div class="form-group">
                        <label class="d-none" for="img">Image</label>
                        <input type="text" class="form-control" id="img" th:name="img" placeholder="Image" maxlength="100"/>
                    </div>
                    <div class="form-group">
                        <label class="d-none" for="quantity">Quantity</label>
                        <input type="text" class="form-control" id="quantity" th:name="quantity" placeholder="Quantity" maxlength="100"/>
                    </div>
                    <button type="submit" class="btn btn-primary ml-auto">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>