<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/admin/components/head"></head>
<body>
<header th:replace="/admin/components/header :: header" xmlns:th="http://www.thymeleaf.org"></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 pl-0">
            <div th:replace="/admin/components/aside :: nav" xmlns:th="http://www.thymeleaf.org"></div>
        </div>
        <div class="col-12 col-md-10">
            <div class="main">

            </div>
        </div>
    </div>
</div>

</body>
</html>