<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="components/head"></head>

<body>

<header th:replace="components/header :: header" xmlns:th="http://www.thymeleaf.org"></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 pl-0">
            <div th:replace="components/aside :: nav" xmlns:th="http://www.thymeleaf.org"></div>
        </div>
        <div class="col-12 col-md-10">
            <div class="main">

                <div th:replace="components/search :: search" xmlns:th="http://www.thymeleaf.org"></div>

                <div th:if="${artist}">
                    <div class="main-content mx-3">
                        <div class="row release-row">
                            <div class="col-2 release-img">
                                <img class="img-fluid" th:src="@{'/images/'+${artist.img}}" width="200" alt=""/>
                            </div>
                            <div class="col-9 release-info">
                                <p>
                                    <span class="title">Artist: </span>
                                    <span th:text="${artist.name}"></span>
                                </p>
                                <p>
                                    <span class="title">Country: </span>
                                    <span th:text="${artist.country}"></span>
                                </p>
                                <p>
                                    <span class="title">Description: </span>
                                    <span th:text="${artist.description}"></span>
                                </p>
                            </div>
                        </div>

                        <hr>
                        <h5>Releases</h5>
                        <div th:if="${artist.releases}">
                            <table class="table">
                                <tbody th:each="release : ${artist.releases}">
                                <tr>
                                    <td>
                                        <a th:href="@{'/releases/{id}'(id=${release.id})}">
                                            <img th:src="@{'/images/'+${release.img}}" width="50" alt=""/>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{'/releases/{id}'(id=${release.id})}">
                                            <span th:text="${release.title}"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{'/labels/{id}'(id=${release.label.id})}">
                                            <span th:text="${release.label.title}"></span>
                                        </a>
                                    </td>
                                    <td th:text="${release.code}"></td>
                                    <td th:text="${release.releaseDate}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="main-content mx-3" th:unless="${artist}">
                    <p th:text="${error}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="components/assets:: assets" xmlns:th="http://www.thymeleaf.org"></th:block>
</body>
</html>