<div class="d-flex" th:fragment="dashboard" xmlns:th="http://www.w3.org/1999/xhtml">
    <form class="dashboard-form" th:action="@{'/user/releases/{action}'(action=${action_coll})}" method="post">
        <input type="hidden" name="id" th:value="${release.id}"/>
        <button class="btn custom-btn" type="submit" th:text="${message_coll}"></button>
    </form>
    <form class="dashboard-form ml-3" th:action="@{'/user/releases/{action}'(action=${action_wl})}" method="post">
        <input type="hidden" name="id" th:value="${release.id}"/>
        <button class="btn custom-btn" type="submit" th:text="${message_wl}"></button>
    </form>
</div>