<header class="top-navbar" th:fragment="header" xmlns:th="http://www.springframework.org/schema/security"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <nav class="navbar py-3" aria-label="Tools menu">
            <div class="d-flex justify-content-between w-100">
                <a class="navbar-brand" href="/">Records Store</a>

                <div class="d-flex align-items-center nav-right">
                    <button class="btn btn-search-open mr-3" id="search-btn">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-times"></i>
                    </button>
                    <a class="btn btn-link mr-3" th:href="@{/login}"><i class="far fa-user"></i></a>
                    <a class="btn btn-link" href="/"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </nav>
    </div>
</header>


<!--            <ul class="navbar-nav mr-auto ml-4">-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        Genres-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li class="dropdown-item" th:each="genre : ${genres}">-->
<!--                            <a class="" th:href="@{'/{genre}'(genre=${genre})}" th:text="${genre}"></a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->

<!--<div sec:authorize="isAuthenticated()">-->
<!--    <span sec:authentication="name">Username</span>-->
<!--    <a th:href="@{/logout}">Logout</a>-->
<!--</div>-->

<!--<div sec:authorize="isAnonymous()">-->
<!--    <a th:href="@{/login}">Login</a>-->
<!--    <a th:href="@{/registration}">Sign in</a>-->
<!--</div>-->