<header class="top-navbar" th:fragment="header" xmlns:th="http://www.springframework.org/schema/security"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <nav class="navbar py-3" aria-label="Tools menu">
            <div class="d-flex justify-content-between w-100">
                <a class="navbar-brand" href="/">TheBestStore</a>

                <div class="d-flex align-items-center nav-right">
                    <button class="btn btn-search-open mr-3" id="search-btn">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-times"></i>
                    </button>
                    <div sec:authorize="isAuthenticated()">
                        <a class="btn btn-link mr-3" th:href="@{/profile}"><i class="far fa-user"></i></a>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <a class="btn btn-link mr-3" th:href="@{/login}"><i class="far fa-user"></i></a>
                    </div>
                    <a class="btn btn-link" href="/"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </nav>
    </div>
</header>