<nav class="menu-main" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="d-flex justify-content-start">
        <li class="menu-item"><a class="menu-item-link" th:href="@{/genres/}">Genres</a></li>
        <li class="menu-item"><a class="menu-item-link" th:href="@{/releases/}">Releases</a></li>
        <li class="menu-item"><a class="menu-item-link" th:href="@{/labels/}">Labels</a></li>
        <li class="menu-item"><a class="menu-item-link" th:href="@{/artists/}">Artists</a></li>
    </ul>
</nav>