<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/components/head"></head>

<body>
<header th:replace="/admin/components/header :: header" xmlns:th="http://www.thymeleaf.org"></header>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 pl-0">
            <div th:replace="/admin/components/aside :: nav" xmlns:th="http://www.thymeleaf.org"></div>
        </div>
        <div class="col-12 col-md-10">
            <div class="main">

                <h3>Add new artist</h3>

                <form th:action="@{/admin/artists/add}" method="post" th:object="${newArtist}" enctype="multipart/form-data">

                    <div class="form-group">
                        <label class="sr-only" for="data">Image</label>
                        <img class="img-width mb-3" th:src="@{'/images/'+${newArtist.img}}" alt="" th:id="image"/>
                        <input type="file" class="form-control-file" th:id="data" accept="image/png, image/jpeg" th:name="data" placeholder="Image"/>
                    </div>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" th:name="name" placeholder="Name" maxlength="100"/>
                    </div>

                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" th:name="country" placeholder="Country" maxlength="100"/>
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" th:name="description" placeholder="Description" maxlength="100"/>
                    </div>

                    <button type="submit" class="btn btn-primary mb-4">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="/admin/components/assets:: assets" xmlns:th="http://www.thymeleaf.org"></th:block>
</body>
</html>