<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/components/head"></head>

<body>
<header th:replace="/admin/components/header :: header" xmlns:th="http://www.thymeleaf.org"></header>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 pl-0">
            <div th:replace="/admin/components/aside :: nav" xmlns:th="http://www.thymeleaf.org"></div>
        </div>
        <div class="col-12 col-md-10">
            <div class="main">

                <div class="container p-0" th:if="${artist}">
                    <div class="row release-row">
                        <div class="col-2 release-img">
                            <img class="img-fluid" th:src="@{'/images/'+${artist.img}}" width="200" alt=""/>
                        </div>
                        <div class="col-9 release-info">
                            <p>
                                <span class="title">Artist: </span>
                                <span th:text="${artist.name}"></span>
                            </p>
                            <p>
                                <span class="title">Country: </span>
                                <span th:text="${artist.country}"></span>
                            </p>
                            <p>
                                <span class="title">Description: </span>
                                <span th:text="${artist.description}"></span>
                            </p>
                        </div>
                        <div class="col-1">
                            <a class="mr-2" th:href="@{'edit/{id}'(id=${artist.id})}"><img class="release-icon" th:src="@{/images/edit.svg}" alt="logo" width="30"/></a>
                            <a class="delete" th:href="@{'/admin/artists/delete/' + ${artist.id}}"><img class="release-icon" th:src="@{/images/trash.svg}" alt="logo" width="30"/></a>
                        </div>
                    </div>
                </div>

                <div th:unless="${artist}">
                    <p>Artist not found</p>
                </div>

            </div>
        </div>
    </div>
</div>

<th:block th:replace="/admin/components/assets:: assets" xmlns:th="http://www.thymeleaf.org"></th:block>
</body>
</html>