<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head"></head>
<body>
<header th:replace="components/header :: header"></header>
<div class="container-fluid">
    <div class="main">
        <div class="row list">
            <div class="list-item mb-3" th:each="label : ${labels}">
                <div class="list-item-img text-center">
                    <a th:href="@{'/labels/{id}'(id=${label.id})}">
                        <img class="img-fluid-height" th:src="@{'/images/'+${label.img}}" alt=""/>
                    </a>
                </div>
                <div class="item-info">
                    <p>
                        <a th:href="@{'/labels/{id}'(id=${label.id})}">
                            <span th:text="${label.title}"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <nav aria-label="Pagination">
            <ul class="pagination-container">
                <li th:if="${labels.totalPages > 1}" class="pagination-item" th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/labels/(page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber == labels.number + 1} ? active"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<th:block th:replace="components/assets:: assets"></th:block>
</body>
</html>