<header class="top-navbar" th:fragment="header" xmlns:th="http://www.springframework.org/schema/security"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <div>
        <nav class="navbar py-3" aria-label="Tools menu">
            <div class="d-flex justify-content-between w-100">
                <div>
                    <a class="navbar-brand" href="/admin">Dashboard</a>
                    <button class="menu-toggle-btn"><span class="fas fa-caret-right"></span></button>
                </div>
                <div class="d-flex align-items-center nav-right">
                    <button class="btn btn-search-open mr-3" id="search-btn">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-times"></i>
                    </button>
                    <a href="/logout" class="btn btn-link top-navbar-link">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
        </nav>
        <div th:replace="admin/components/menu :: nav"></div>
        <div th:replace="admin/components/search :: search"></div>
    </div>
</header>