<nav class="menu-main">
    <ul class="d-flex justify-content-start">
        <li class="menu-item"><a class="menu-item-link" th:href="@{/admin/releases/}">Releases</a></li>
        <li class="menu-item"><a class="menu-item-link" th:href="@{/admin/genres/}">Genres</a></li>
        <li class="menu-item"><a class="menu-item-link" th:href="@{/admin/labels/}">Labels</a></li>
        <li class="menu-item"><a class="menu-item-link" th:href="@{/admin/artists/}">Artists</a></li>
        <li class="menu-item"><a class="menu-item-link" th:href="@{/admin/accounts/}">Accounts</a></li>
    </ul>
</nav>