<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/components/head"></head>
<body>
<header th:replace="admin/components/header :: header" xmlns:th="http://www.thymeleaf.org"></header>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 pl-0">
            <div th:replace="admin/components/aside :: nav" xmlns:th="http://www.thymeleaf.org"></div>
        </div>
        <div class="col-12 col-md-10">
            <div class="main">
                <div class="container p-0 my-4">
                    <div class="row release-row" th:each="account : ${accounts}">
                        <div class="col-9 release-info">
                            <p>
                                <span class="title">Username: </span>
                                <span th:text="${account.username}"></span>
                            </p>
                            <p>
                                <span class="title">Email: </span>
                                <span th:text="${account.email}"></span>
                            </p>
                            <p>
                                <span class="title">Status: </span>
                                <span th:text="${account.enabled}"></span>
                            </p>
                            <p>
                                <span class="title">Role: </span>
                                <span class="breadcrumb-item" th:each="role : ${account.roles}" th:text="${role.name}"></span>
                            </p>
                        </div>
                        <div class="col-1">
                            <form th:action="@{/admin/accounts/delete}" method="post">
                                <input type="hidden" name="id" th:value="${account.id}"/>
                                <button type="submit" class="btn btn-sm btn-link delete">
                                    <img class="release-icon" th:src="@{/images/trash.svg}" alt="logo"/>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="admin/components/assets:: assets" xmlns:th="http://www.thymeleaf.org"></th:block>
</body>
</html>