<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/components/head"></head>
<body>
<header th:replace="admin/components/header :: header"></header>
<div class="container-fluid">
    <div class="main">
        <div th:each="account : ${accounts}">
            <div class="main-content">
                <div class="row">
                    <div class="d-flex col-12 col-lg-11">
                        <div class="item-img">
                            <img class="img-fluid" th:src="@{'/images/accounts/'+${account.img}}" alt=""/>
                        </div>
                        <div class="item-info">
                            <p>
                                <span class="title">username: </span>
                                <a th:href="@{/account/{id}(id=${account.id})}" th:text="${account.username}"></a>
                            </p>
                            <p>
                                <span class="title">email: </span>
                                <span th:text="${account.email}"></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-1 d-flex">
                        <form th:action="@{/admin/accounts/delete}" method="post">
                            <input type="hidden" name="id" th:value="${account.id}"/>
                            <button type="submit" class="btn btn-sm btn-link delete">
                                <img class="release-icon" th:src="@{/images/service/trash.svg}" alt="logo"/>
                            </button>
                        </form>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <nav aria-label="Pagination">
            <ul class="pagination-container">
                <li th:if="${accounts.totalPages > 1}" class="pagination-item" th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/admin/accounts/(page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber == accounts.number + 1} ? active"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<th:block th:replace="admin/components/assets:: assets"></th:block>
</body>
</html>