:root {
    --main-text-color: #888;
    --main-bg-color: #fff;
    --navbar-bg-color: #1d1e21;
    --btn-bg-color: #1d1e21;
    --white-color: #fff;
    --white-bg-color: #fff;
    --contrast-bg-color: #eee;
    --contrast-text-color: #555;
}
input#search{
    border-bottom: 1px solid var(--navbar-bg-color);
}
input#search:focus{
    border-bottom: 1px solid var(--navbar-bg-color);
    outline: none;
}
body{
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: 1rem;
}
footer{
    position: fixed;
    bottom: 0;
    width:100%;
    z-index: 5;
}
.navbar{
    position: relative;
    background: var(--navbar-bg-color);
    padding-top: 0rem;
    padding-bottom: 0;

}
.top-navbar a, .top-navbar button{
    color: var(--main-text-color);
}
.top-navbar a:hover, .top-navbar button:hover{
    color: var(--white-color);
}
.btn-search-open{
    color: var(--main-text-color);
}
.btn-search-open .fa-search, .btn-search-open.active .fa-times{
    display: block;
}
.btn-search-open.active .fa-search, .btn-search-open .fa-times{
    display: none;
}
.search_box {
    top:100%;
    left: 0;
    width: 100%;
    background: var(--white-bg-color);
    padding: 0 1%;
    margin: 0;
    height: 0;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:  all 0.1s ease-in-out;
    -ms-transition:  all 0.1s ease-in-out;
    -o-transition:  all0.1s ease-in-out;
    transition:  all 0.1s ease-in-out;
}
.search_box.active{
    height: auto;
    padding: 1%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:  all 0.1s ease-in-out;
    -ms-transition:  all 0.1s ease-in-out;
    -o-transition:  all 0.1s ease-in-out;
    transition:  all 0.1s ease-in-out;
    z-index: 1000;
}
.search_box input {
    width: 100%;
    font-size: 1em;
    margin-right: 1%;
    padding:1%;
    border: none;
    background: var(--white-bg-color);
    color: #000;
    position: relative;
}
.search_box .btn-search-icon {
    clear: both;
    width:7%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    padding: 1%;
    margin-right: 1%;
    float: right;
    border: medium none;
    color: #FFF;
    cursor: pointer;
    background: var(--btn-bg-color);
    border-radius: 30px;
    opacity: 1;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
