@import "vars.css";
@font-face {
    font-family: 'Quicksand-Light';
    src:url(../fonts/Quicksand-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    src:url(../fonts/Quicksand-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand-Medium';
    src:url(../fonts/Quicksand-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand-Bold';
    src:url(../fonts/Quicksand-Bold.ttf) format('truetype');
}
body{
    font-family: 'Quicksand';
}
.img-fluid-height{
    width: auto;
    height: 100%;
}
input#search{
    border-bottom: 1px solid var(--navbar-bg-color);
}
input#search:focus{
    border-bottom: 1px solid var(--navbar-bg-color);
    outline: none;
}
body{
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: 1rem;
}
footer{
    position: fixed;
    bottom: 0;
    width:100%;
    z-index: 5;
}
.top-navbar{
    position: relative;
    background: var(--navbar-bg-color);
}
.top-navbar a, .top-navbar button{
    color: var(--main-text-color);
}
.menu-toggle-btn{
    border: none;
    padding: 5px;
    background: transparent;
    transition: transform .3s ease;
}
.menu-toggle-btn.active{
    transform: rotate(90deg);
}
.top-navbar a:hover, .top-navbar button:hover{
    color: var(--white-color);
}
.btn-search-open{
    color: var(--main-text-color);
}
.btn-search-open .fa-search, .btn-search-open.active .fa-times{
    display: block;
}
.btn-search-open.active .fa-search, .btn-search-open .fa-times{
    display: none;
}
.search_box {
    top:100%;
    left: 0;
    width: 100%;
    background: var(--white-bg-color);
    margin: 0;
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition:  all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
    transition:  all 0.3s ease-in-out;
}
.search_box.active{
    height: auto;
    max-height: 190px;
    padding: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition:  all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
    transition:  all 0.3s ease-in-out;
    z-index: 1000;
}
.search_box input {
    width: 100%;
    font-size: 1em;
    margin: 0 1%;
    padding:10px;
    padding-top: 25px;
    border: none;
    background: var(--white-bg-color);
    color: #000;
    position: relative;
}
.search_box .btn-search-icon {
    clear: both;
    width:7%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    padding: 15px 20px;
    margin-right: 1%;
    float: right;
    border: medium none;
    color: #FFF;
    cursor: pointer;
    background: var(--btn-bg-color);
    border-radius: 0px;
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu-main{
    padding: 0;
    background: var(--white-bg-color);
    margin: 0;
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition:  all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
    transition:  all 0.3s ease-in-out;
}
.menu-main.active{
    height: auto;
    max-height: 190px;
    padding: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition:  all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
    transition:  all 0.3s ease-in-out;
    z-index: 1000;
}
.menu-main ul{
    list-style: none;
    margin: 0;
    padding: 1rem;
}
.menu-main .menu-item-link{
    color: var(--main-text-color);
    margin-right: 1rem;
}
.menu-main .menu-item-link:hover{
    text-decoration: none;
    color: var(--main-text-color);
}
.main{
    padding-top: 15px;
}
.custom-btn{
    padding: 10px 25px;
    border: medium none;
    color: #FFF;
    cursor: pointer;
    background: var(--btn-bg-color);
    border-radius: 0px;
    opacity: 1;
    border:1px solid var(--btn-bg-color);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.custom-btn:hover, .custom-btn:focus{
    background: #FFFFFF;
    color: var(--btn-bg-color);
}
.custom-link{
    color: var(--link-color);
    text-decoration: none;
    position: relative;
}
.custom-link::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0px;
    height: 1px;
    margin: 1px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: var(--link-color);
}
.custom-link:hover::after, .custom-link:focus::after{
    width:100%;
    opacity: 1;
}
.custom-link:hover, .custom-link:focus {
    text-decoration: none;
    color: var(--link-color);
}
.custom-form-control{
    border-radius: 0;
}
.custom-form-control:focus{
    border: 1px solid transparent;
    box-shadow: 0 0 0 .2rem var(--custom-focus-shadow-color);
}
.signin-errors{
    color: red;
}
.item-img{
    flex: 0 0 calc(200px + 1rem);
}
.item-img img{
    width: 200px;
}
.item-info{
    flex: 0 0 calc(100% - 200px - 1rem);
}
.item-info p{
    margin-bottom: 0;
}
.item-info .title{
    font-family: 'Quicksand-Light';
    font-size: 0.9rem;
}
.item-img-sm{
    width: 50px;
}
.list-item{
    padding-left: 15px;
    max-width: 215px;
}
.list-item-img{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    overflow: hidden;
}
.list-item .item-info p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.releases-list .releases-list-item:not(:first-child){
    flex: 0 0 calc( (100% - 10%) / 4);
    max-width: 20%;
}
.releases-list .releases-list-item:first-child{
    flex: 0 0 10%;
    max-width: 10%;
}
.more-btn{
    font-size: .8rem;
}
.pagination-container{
    list-style: none;
    padding: 0;
}
.pagination-container .pagination-item{
    display: inline-block;
}
.pagination-container .pagination-item .active{
    pointer-events: none;
}
.pagination-container .pagination-item a{
    color: #555555;
    padding: 3px 6px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
.pagination-container .pagination-item a:hover,
.pagination-container .pagination-item .active{
    text-decoration: none;
    border-bottom: 1px solid;
}
.pagination-container .pagination-item .active:hover{
    cursor: none;
}
.playlist{
    display: none;
}
.error-icon{
    width: 50px;
    opacity: 0.5;
}
/*dashboard*/
.dashboard-form{
    flex: 0 0 calc(50% - .5rem);
}
.dashboard-form .custom-btn{
    width: 100%;
    font-size: 14px;
}