@import "vars.css";
@font-face {
    font-family: 'Quicksand-Light';
    src:url(../fonts/Quicksand-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand';
    src:url(../fonts/Quicksand-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand-Medium';
    src:url(../fonts/Quicksand-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand-Bold';
    src:url(../fonts/Quicksand-Bold.ttf) format('truetype');
}
body{
    font-family: 'Quicksand';
}
.img-width{
    width: 200px;
}
.top-navbar{
    position: relative;
    background: var(--navbar-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.top-navbar a, .top-navbar button{
    color: var(--main-text-color);
}
.top-navbar a:hover, .top-navbar button:hover {
    color: var(--white-color);
}
.aside-nav{
    min-height: 100%;
    align-items: start;
    padding-left: 30px;
    background: var(--aside-bg);
    position: fixed;
    width: 16.666%;
    top: 0;
    padding-top: 85px;
}
.aside-nav .nav-link{
    color: var(--aside-link-color);
    transition: all .3s ease;
}
.aside-nav .nav-link:hover{
    text-decoration: underline;
}
.release-row{
    margin-bottom: 30px;
}
.release-info p{
    margin-bottom: 0;
}
.release-info .title{
    font-family: 'Quicksand-Light';
    font-size: 0.9rem;
}
.release-icon{
    width: 20px;
    opacity: 0.5;
}
.main{
    margin-top: 95px;
}
pagination-container{
    list-style: none;
}
.pagination-container .pagination-item{
    display: inline-block;
}
.pagination-container .pagination-item .active{
    pointer-events: none;
}
.pagination-container .pagination-item a{
    color: #555555;
    padding: 3px 6px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
.pagination-container .pagination-item a:hover,
.pagination-container .pagination-item .active{
    text-decoration: none;
    border-bottom: 1px solid;
}
.pagination-container .pagination-item .active:hover{
    cursor: none;
}