:root {
    --main-text-color: #888;
    --main-bg-color: #fff;
    --navbar-bg-color: #1d1e21;
    --btn-bg-color: #1d1e21;
    --white-color: #fff;
    --white-bg-color: #fff;
    --contrast-bg-color: #eee;
    --contrast-text-color: #555;
    --aside-bg:linear-gradient(rgba(38,49,149,1) 0%, rgba(155,229,163,0.6) 85%, rgba(255,255,255,1) 100%);
    --aside-link-color: #fff;
}