:root {
    --main-text-color: #888;
    --main-bg-color: #fff;
    --navbar-bg-color: #1d1e21;
    --btn-bg-color: #1d1e21;
    --white-color: #fff;
    --white-bg-color: #fff;
    --contrast-bg-color: #eee;
    --contrast-text-color: #555;
}