<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>RecordStore</title>
</head>
<body>
    <div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
        <div class="text-center">
            <img class="error-icon" th:src="@{/images/error.svg}" alt="logo"/>
            <h3 th:text="${message}"></h3>
            <a th:href="@{${url}}" class="btn btn-primary">BACK</a>
        </div>
    </div>
</body>
</html>