<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/components/head"></head>

<body>
<header th:replace="components/header :: header" xmlns:th="http://www.thymeleaf.org"></header>
<div class="container my-3">
    <div class="row">
        <div th:each="label : ${labels}" class="col-12 col-md-4 col-lg-3">
            <div class="">
                <img th:src="@{'images/'+${label.img}}" width="200" alt=""/>
            </div>
            <div class="">
                <div th:text="${label.title}"></div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="components/assets:: assets" xmlns:th="http://www.thymeleaf.org"></th:block>