<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="components/head"></head>

<body>

<header th:replace="components/header :: header" xmlns:th="http://www.thymeleaf.org"></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 pl-0">
            <div th:replace="components/aside :: nav" xmlns:th="http://www.thymeleaf.org"></div>
        </div>
        <div class="col-12 col-md-10">
            <div class="main">
                <div class="search_box">
                    <form class="get container p-0 mb-0" action="/search">
                        <fieldset>
                            <div class="input-group">
                                <input name="search" id="search" placeholder="Search" type="text">
                                <button class="btn btn-search-icon" aria-label="Search" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="main-content mx-3">
                    <p>App is in progress</p>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="components/assets:: assets" xmlns:th="http://www.thymeleaf.org"></th:block>