<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/components/head"></head>

<body>
<header th:replace="components/header :: header" xmlns:th="http://www.thymeleaf.org"></header>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">

                <h3>Sign in</h3>

                <form th:action="@{/registration}" th:object="${user}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" th:name="username" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" th:name="password" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm your password" th:name="passwordConfirm" required/>
                    </div>
                    <button type="submit" class="btn btn-primary ml-auto">Submit</button>
                </form>

            </div>
        </div>
    </div>

</body>
</html>