<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Registration</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">

                <form th:action="@{/registration}" th:object="${userForm}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" th:name="username" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" th:name="password" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm your password" th:name="passwordConfirm" required/>
                    </div>
                    <button type="submit" class="btn btn-primary ml-auto">Submit</button>
                </form>

            </div>
        </div>
    </div>

</body>
</html>