<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/components/head"></head>

<body>

<header th:replace="components/header :: header" xmlns:th="http://www.thymeleaf.org"></header>

<div class="container my-3">
    <div class="row">
        <div th:each="release : ${releases}" class="col-12 col-md-4 col-lg-3">
            <div class="">
                <img th:src="@{'images/'+${release.img}}" width="200" alt=""/>
            </div>
            <div class="">
                <div th:text="${release.artist}"></div>
                <div th:text="${release.title}"></div>
                <div th:text="${release.label}"></div>
                <div th:text="${release.code}"></div>
                <div th:text="${release.format}"></div>
                <div th:text="${release.releaseDate}"></div>
                <div th:text="${release.price}"></div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="components/assets:: assets" xmlns:th="http://www.thymeleaf.org"></th:block>