<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/components/head"></head>
<body>
<header th:replace="admin/components/header :: header"></header>
<div class="container-fluid">
    <div class="main">
        <div class="main-content" th:if="${genre}">
            <h3>Edit genre</h3>
            <form th:action="@{'/admin/genres/edit/{id}'(id=${genre.id})}" th:object="${genre}" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control is-valid" th:errorclass="is-invalid" type="text" id="title" th:field="*{title}" placeholder="Title" maxlength="100" th:value="${genre.title}" />
                    <p class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                </div>
                <button type="submit" class="btn btn-primary mb-4">Submit</button>
            </form>
        </div>
        <div class="main-content mx-3" th:unless="${genre}">
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
</body>
</html>