<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/admin/components/head"></head>

<body>
<header th:replace="/admin/components/header :: header" xmlns:th="http://www.thymeleaf.org"></header>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 pl-0">
            <div th:replace="/admin/components/aside :: nav" xmlns:th="http://www.thymeleaf.org"></div>
        </div>
        <div class="col-12 col-md-10">
            <div class="main">
                <div class="container p-0 my-4">
                    <a href="/admin/genres/add/" class="btn btn-primary" role="button">Add new genre</a>
                </div>
                <div class="container p-0">
                <table class="table">
                    <tr>
                        <th>Genre</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr th:each="genre : ${genres}">
                        <td th:text="${genre.title}"></td>
                        <td><a th:href="@{'edit/{id}'(id=${genre.id})}"><img th:src="@{/images/edit.svg}" alt="logo" width="30"/></a></td>
                        <td><a th:href="@{'/admin/genres/delete/' + ${genre.id}}"><img th:src="@{/images/trash.svg}" alt="logo" width="30"/></a></td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>