<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head"></head>
<body>
<header th:replace="components/header :: header" xmlns:th="http://www.thymeleaf.org"></header>
<div class="container-fluid">
    <div class="main">
        <div th:each="genre : ${genres}">
            <div>
                <a th:href="@{'/releases/genre/{id}'(id=${genre.id})}">
                    <span th:text="${genre.title}"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="components/assets:: assets" xmlns:th="http://www.thymeleaf.org"></th:block>
</body>
</html>